*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Montserrat", cursive;
}
/* Flexbox is used for flexible layout */

body{
    background: #9127ef;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container{
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 700px;
    padding: 50px;
    align-self: center;
}

.row{
    display: flex;
}
.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row-round-runs>.col{
    border: solid 2px;
    height: 25px;
    width: 25px;
    border-color: black;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.container >.row{
width: 100%;
justify-content: space-evenly;
}
.profile-icon{
    border-radius: 50%;
    border: 2px solid bisque;
}

.name{
    margin: 20px 0;
    font-size: x-large;
    font-weight: bold;
}

.score{
    font-size: xx-large;
}

.score > span{
    margin:0 5px;
}

.row-round-runs{
    font-size: xx-large;
    
    justify-content: space-between;
    align-self: center;
}
#strike-button{
    border: none;
    border-radius: 25px;
    background: linear-gradient(135deg, #c02425,#f0cb35);
    font-size:large;
    width:300px;
    color:white;
    padding:10px;
    margin-top:50px;
    margin-bottom:-50px;
    outline:none;
}
#strike-button:hover{
    box-shadow: 0 0 10px 1px black;
}
#result{
    margin-top: 50px;
    background-clip: text;
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: bold;
    color: #9127ef;
}
